GOOGLE_AUTH_DETAILS={}
HASURA_GRAPHQL_ADMIN_SECRET=
HASURA_GRAPHQL_ENDPOINT=
METADATA_REFRESH_INTERVAL_MINUTES=60
OPENSEA_API_KEY=<contact maintainer for artbot-jr if token is desired>
RANDOM_ART_INTERVAL_MINUTES=20
RESERVOIR_API_KEY=<contact maintainer for artbot-jr if token is desired>
TOKEN=<contact maintainer for artbot-jr if token is desired>
ETHERSCAN_API_KEY=<contact maintainer for artbot-jr if token is desired>